h3 {
    color: white;
}

#specialDiv {
    height:260px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  /* html {
    overflow: scroll;
    overflow-x: hidden;
} */
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: rgb(32, 32, 32);
}